<div class="contact-container" data-aos="flip-right">
  <h2>Entre em Contato</h2>
  <div class="separator"></div>
  <p>
    Gostaria de conversar ou tirar dúvidas? Escolha um dos canais abaixo e vamos nos conectar!
  </p>

  <div class="button-container">
    <button
      *ngFor="let contact of contacts"
      class="btn-contact"
      (click)="openLink(contact.link)"
    >
      <fa-icon [icon]="contact.icon" class="contact-icon"></fa-icon>
      <span> {{ contact.name }}</span>
    </button>
  </div>
</div>
