<div class="about-me-container" data-aos="fade-down-right">
  <h2>Sobre mim</h2>
  <div class="separator"></div>
  <p>
    Olá, meu nome é <strong>Isabella Gouveia Freitas</strong>. Moro em
    <strong>Goiânia, Goiás</strong>, e sou formada em
    <strong>Análise e Desenvolvimento de Sistemas</strong> pela
    <strong>UniGoiás</strong>. Tenho mais de dois anos de experiência no
    desenvolvimento front-end, utilizando tecnologias como
    <strong>HTML, CSS, JavaScript, TypeScript, React</strong> e
    <strong>Angular</strong>. Estou sempre em busca de aprendizado contínuo e
    atualmente estou começando a estudar <strong>Inglês</strong>.
  </p>

  <p>
    Nos momentos livres, gosto de assistir séries, curtir com a família e
    aproveitar momentos de lazer. Sou apaixonada por tecnologia e valorizo
    soluções criativas e eficientes, com foco na qualidade e na experiência do
    usuário em cada projeto.
  </p>
</div>
